.final
  &.snake
    -webkit-filter: hue-rotate(235deg) invert() grayscale(30%)
  &.dog
    -webkit-filter: brightness(117%) hue-rotate(-91deg) contrast(86%) grayscale(80%)
  &.fish
    -webkit-filter: contrast(182%) grayscale(100%);
  &.bird
    -webkit-filter: brightness(107%) hue-rotate(-40deg) contrast(143%)
  &.bee
    -webkit-filter: blur(0.5em) hue-rotate(235deg)

.extra
  &.bee 
    background: url("assets/honeycomb.png")
    background-size: 12em;
    opacity: 0.04;